.headline {
	height: 100%;
	margin-top: 40%;
	margin-bottom: auto;
}

.card-img {
	width: 75px;
}

.profile-img {
	width: 250px;
}

.profile-grid {
	margin-top: 3rem;
}

form {
	margin-top: 50px;
	width: 50%;
}

.search {
	position: relative;
}

.search i {
	position: absolute;
	display: block;
	top: 12px;
	padding-left: 13px;
	width: 45px;
}

#search-input {
	padding-left: 40px;
}

.card-grid {
	height: 100vh;
	padding-top: 3rem;
}

.card {
	margin: 15px 0px;
	border-radius: 1rem;
}
